header {
  display: flex;
  height: 80px;
  border-bottom: solid 1px black;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.logo p {
  color: MediumAquamarine;
}

.navigation {
  flex-wrap: wrap;
  margin-right: 50px;
}

.navigation span {
  display: inline-block;
  margin-left: 30px;
}

span a {
  color: black;
}

.newsStories {
  display: flex;
  margin-top: 40px;
}

.leftColumn {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 300px;
  width: 630px;
  border: solid 1px black;
  margin-right: 35px;
}

.middleColumn {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 300px;
  width: 300px;
  border: solid 1px black;
  margin-right: 35px;
}

.rightColumn {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 300px;
  width: 240px;
  border: solid 1px black;
}
