#topMatter {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.leftHeader {
  display: flex;
}

.myTimesLogo {
  margin-right: 10px;
}

.myTimesDiv {
  color: MediumAquamarine;
}

.Verdana14pxBold {
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.navigation {
  display: flex;
  align-items: center;
  color: black;
}

.topNavItem {
  margin-left: 18px;
  color: black;
}
