html, body {
  margin: 0px;
  padding: 0px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

header p {
  font-family: Verdana;
}

.logo {
  display: flex;
  flex: auto;
  border: solid 1px black;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 40px;
}

.logo img {
  margin-right: 10px;
}

.navigation {
  flex-wrap: wrap;
  margin-right: 50px;
}

.navigation span {
  height: inherit;
  display: inline-block;
  margin-left: 30px;
}

span a {
  color: black;
}

.news {
  display: flex;
  justify-content: flex-start;
  width: 1285px;
  margin-top: 70px;
  padding-top: 40px;
}

.column {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 300px;
  margin-right: 35px;
}

.left {
  width: 630px;
}

.middle {
  width: 300px;
}

.right {
  width: 240px;
}

p {
  margin: 0px;
  font-family: Georgia;
  font-size: 17px;
}

.tidbit {
  border-top: solid 1px black;
}

.storyWithHeading {
  border: solid 2px black;
}

.storyHeading {
  margin: 25px 0px 25px 0px;
  font-weight: bold;
}

.border1 {
  border: solid 1px black;
}

.headingFontSize {
  font-size: 25px;
}

.newsBitesFontSize {
  font-size: 20px;
}

.story {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px black;
}

.motherOfThree {
  background-image: url("../../resources/images/img-story-main.png");
}

.imageText {
  font-weight: bold;
  font-size: 30px;
  color: white;
}
